<p>ALLO</p>

<strong>{{connected}}</strong>

<form method="POST" action="/newTicket">
  <input id="nameTicket" name="nameTicket" type="text">
  <input id="priceTicket" name="priceTicket" type="number">
  <input type="submit" value="Valider">
</form>

<script>

</script>
